root {
  --Orange: #ff4800;
  --Off-Black: #161616;
  --Dark-Gray: #232323;
  --Gray: #3f403e;
  --Light-Gray: #949494;
  --Off-White: #e5f4f9;
}
.nav {
  width: 80rem;
  height: 2.875rem;
  flex-shrink: 0;
  width: 80rem;
  height: 2.875rem;
  flex-shrink: 0;
}
.middle-nav {
  width: 7.72744rem;
  height: 2.875rem;
  flex-shrink: 0;
  border-right: 1px solid var(--Gray, #3f403e);
  border-bottom: 1px solid var(--Gray, #3f403e);
  border-left: 1px solid var(--Gray, #3f403e);
  background: var(--Off-Black, #161616);
}

.logo {
  width: 3.29963rem;
  height: 0.875rem;
  flex-shrink: 0;
}

.footer {
  display: flex;
  width: 81.125rem;
  height: 2.8125rem;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;

  color: var(--Gray, #3f403e);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: OCR B Std;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.0175rem;
  text-transform: uppercase;
}
.detail {
  color: var(--Gray, #3f403e);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: OCR B Std;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.0175rem;
  text-transform: uppercase;
}

.display {
  color: var(--Orange, #ff4800);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: FranklinGothic URW Ext Comp D;
  font-size: 25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 21.9375rem; /* 87.75% */
  letter-spacing: -0.5rem;
  text-transform: uppercase;
}

.tagline {
  color: var(--Off-White);
  text-align: center;
  leading-trim: both;
  text-edge: cap;

  /* Tagline/Neue Haas Grotsek —20px */
  font-family: Neue Haas Grotesk Text Pro;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem; /* 150% */
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

.cta {
  border-radius: 25rem;
  border: 2px solid var(--Orange, #ff4800);
  background: var(--Off-Black, #161616);
}
