root {
  --Orange: #ff4800;
  --Off-Black: #161616;
  --Dark-Gray: #232323;
  --Gray: #3f403e;
  --Light-Gray: #949494;
  --Off-White: #e5f4f9;
}
.nav {
  width: 80rem;
  height: 2.875rem;
  flex-shrink: 0;
  width: 80rem;
  height: 2.875rem;
  flex-shrink: 0;
}
.middle-nav {
  width: 7.72744rem;
  height: 2.875rem;
  flex-shrink: 0;
  border-right: 1px solid var(--Gray, #3f403e);
  border-bottom: 1px solid var(--Gray, #3f403e);
  border-left: 1px solid var(--Gray, #3f403e);
  background: var(--Off-Black, #161616);
}

.logo {
  width: 3.29963rem;
  height: 0.875rem;
  flex-shrink: 0;
  /* <svg xmlns="http://www.w3.org/2000/svg" width="53" height="14" viewBox="0 0 53 14" fill="none">
<g clip-path="url(#clip0_17_2)">
<path d="M1.51667 13.8367V1.904H0V0.16333H5.04467V1.904H3.57V13.832H1.51667V13.8367Z" fill="#3F403E"/>
<path d="M9.51066 13.8367L8.19933 7.952H7.686V13.8367H5.63733V0.16333H8.036C9.184 0.16333 9.86066 0.447997 10.374 1.12466C10.906 1.82 11.1533 2.744 11.1533 4.07866C11.1533 5.964 10.7847 6.96733 9.92133 7.462L11.6247 13.8367H9.51533H9.51066ZM8.036 6.16933C8.79666 6.16933 8.99733 5.74 8.99733 4.03666C8.99733 2.33333 8.81066 1.904 8.036 1.904H7.686V6.16933H8.036Z" fill="#3F403E"/>
<path d="M12.39 13.8367V0.16333H14.4387V13.8367H12.39Z" fill="#3F403E"/>
<path d="M15.7873 13.8367V0.16333H20.3607V1.904H17.8407V5.86133H19.8707V7.602H17.8407V13.832H15.792L15.7873 13.8367Z" fill="#3F403E"/>
<path d="M26.138 1.55867C26.5673 2.52 26.8333 4.57334 26.8333 6.99067C26.8333 9.69734 26.5253 11.7647 26.012 12.6887C25.522 13.5473 24.7193 14 23.6973 14C22.6753 14 21.854 13.51 21.3593 12.586C20.846 11.662 20.622 9.83734 20.622 6.86934C20.622 3.90134 20.9067 2.05334 21.504 1.17134C22.036 0.392003 22.7733 0.00466919 23.716 0.00466919C24.822 0.00466919 25.662 0.560002 26.1333 1.56334L26.138 1.55867ZM22.8153 7.29867C22.8153 11.48 22.96 12.3013 23.716 12.3013C24.1687 12.3013 24.374 12.0167 24.4953 11.298C24.5793 10.766 24.64 9.12334 24.64 7.44334C24.64 2.39867 24.5373 1.70334 23.716 1.70334C22.8947 1.70334 22.8153 2.422 22.8153 7.29867Z" fill="#3F403E"/>
<path d="M31.5327 13.8367L30.2213 7.952H29.708V13.8367H27.6593V0.16333H30.058C31.206 0.16333 31.8827 0.447997 32.396 1.12466C32.928 1.82 33.1753 2.744 33.1753 4.07866C33.1753 5.964 32.8067 6.96733 31.9433 7.462L33.6467 13.8367H31.5373H31.5327ZM30.058 6.16933C30.8187 6.16933 31.0193 5.74 31.0193 4.03666C31.0193 2.33333 30.8327 1.904 30.058 1.904H29.708V6.16933H30.058Z" fill="#3F403E"/>
<path d="M38.724 13.8973L38.5373 12.8333C38.1873 13.6313 37.6787 13.9627 36.7967 13.9627C34.706 13.9627 33.9687 12.096 33.9687 6.89267C33.9687 3.98067 34.1553 2.464 34.6267 1.52134C35.1587 0.494669 35.9613 0.00466919 37.1047 0.00466919C38.8267 0.00466919 39.7273 1.008 40.0587 3.32734L38.052 3.59334C37.9493 2.324 37.6647 1.75 37.1093 1.75C36.2507 1.75 36.106 2.51067 36.106 6.77134C36.106 11.4427 36.2693 12.3667 37.17 12.3667C37.9073 12.3667 38.1547 11.7087 38.1547 9.68334V8.80134H37.17V6.97667H40.0587V13.9067H38.724V13.8973Z" fill="#3F403E"/>
<path d="M41.272 13.8367V0.16333H45.9247V1.904H43.3207V5.80066H45.206V7.54133H43.3207V12.0913H46.1067V13.832H41.2673L41.272 13.8367Z" fill="#3F403E"/>
<path d="M46.9093 0.16333H48.8553C50.4747 0.16333 51.2727 0.573997 51.9493 1.722C52.5047 2.66466 52.7893 4.44733 52.7893 6.96733C52.7893 9.81866 52.4207 11.8067 51.7253 12.768C51.17 13.5287 50.4327 13.832 49.182 13.832H46.9047V0.16333H46.9093ZM49.1867 12.0913C49.7607 12.0913 50.0687 11.8673 50.2507 11.3307C50.5353 10.5093 50.6613 9.25866 50.6613 7.13066C50.6613 3.094 50.3347 1.904 49.1867 1.904H48.9627V12.0913H49.1867Z" fill="#3F403E"/>
</g> 
<defs>
<clipPath id="clip0_17_2">
<rect width="52.794" height="14" fill="white"/>
</clipPath>
</defs>
</svg> */
}

.footer {
  display: flex;
  width: 81.125rem;
  height: 2.8125rem;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;

  color: var(--Gray, #3f403e);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: OCR B Std;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.0175rem;
  text-transform: uppercase;
}
.detail {
  color: var(--Gray, #3f403e);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: OCR B Std;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 171.429% */
  letter-spacing: 0.0175rem;
  text-transform: uppercase;
}

.display {
  color: var(--Orange, #ff4800);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: FranklinGothic URW Ext Comp D;
  font-size: 25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 21.9375rem; /* 87.75% */
  letter-spacing: -0.5rem;
  text-transform: uppercase;
}

.tagline {
  color: var(--Off-White);
  text-align: center;
  leading-trim: both;
  text-edge: cap;

  /* Tagline/Neue Haas Grotsek —20px */
  font-family: Neue Haas Grotesk Text Pro;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem; /* 150% */
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

.cta {
  border-radius: 25rem;
  border: 2px solid var(--Orange, #ff4800);
  background: var(--Off-Black, #161616);
}
